// variables

$background: #121214;
$pinkColor: #ffcece;
$cyan: rgb(181, 240, 253);
$darkPink: #ffb0b0;

// global

.app {
  display: flex;
  height: 100vh;
}

// sidebar

.sidebar {
  padding: 0 2rem;
  background-color: black;
  color: white;
  width: 15%;
  .logo{
    width:12rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 60%;

    p {
      margin-top: 15%;
      font-size: 110%;
    }

    p:hover {
      color: $pinkColor;
    }
  }
}

// homepage

.home {
  padding: 3rem 2rem 1rem 2rem;
  background-color: $background;
  color: white;
  width: 100%;

  h1 {
    color: $pinkColor;
  }

  .daoCard {
    border: 0.5px solid $pinkColor;
    width: 26rem;
    padding: 0 1rem 1.5rem 1.5em;

    img {
      width: 100%;
    }

    .daoName {
      font-size: 120%;
      color: $pinkColor;
      font-weight: 400;
    }

    button {
      background-color: $pinkColor;
      padding: 0.3rem 1.2rem;
      border: none;
      border-radius: 2px;
      font-size: 100%;
    }

    button:hover {
      background-color: $darkPink;
    }
  }

  .memberList {
    position: absolute;
    top: 180px;
    left: 1000px;
    height: 500px;
    width: 450px;
    background-color: #232324;
    border-radius: 4px;
    padding: 1rem 2rem 1rem 2rem;

    h3 {
      color: $pinkColor;
    }
  }

}

// proposals

.proposals {
  padding: 3rem 2rem 1rem 2rem;
  background-color: $background;
  color: white;
  width: 100%;

  .btnDiv {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .btn {
      padding: 0.4rem 1.4rem;
      background-color: $pinkColor;
      border: none;
      font-size: 110%;
      border-radius: 2px;
    }

    .btn:hover {
      background-color: #f8b4b4;
    }
  }

  .inputDiv {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    input:not(input[type=file]) {
      background-color: #323235;
    }

    input {
      padding: 0.3rem 1.1rem;
      font-size: 110%;
      color: white;
      border: none;
    }

    input[type=file] {
      padding-left: 0;
    }

    input[type=file]::file-selector-button {
      background-color: rgb(241, 211, 250);
    }

    input::placeholder {
      // color: rgba(57, 56, 56, 0.818);
      color: rgb(143, 143, 143);
      text-align: center;
    }

    input[type=text]:focus {
      border: 3px solid #555;
    }

    button {
      font-size: 110%;
      background-color: rgb(241, 211, 250);
      border: none;
      padding: 0.3rem 1.1rem;
      border-radius: 2px;
    }

    button:hover {
      background-color: $darkPink;
    }

    .proposeBtn {
      margin-right: 2rem;
    }
  }

  .card {
    padding: 1rem;
    padding-top: 0.1rem;
    background-color: #323235;
    border-radius: 4px;
    width: 32%;

    .cardBtns {
      display: flex;
      gap: 0.5rem;

      .cardBtn {
        background-color: #121214;
        color: white;
        padding: 0.2rem 0.8rem;
      }
    }
  }

  .cardContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

// articles

.articles {
  padding: 3rem 2rem 1rem 2rem;
  background-color: $background;
  color: white;
  width: 100%;

  .cardContainer {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .card {
    padding: 1rem;
    padding-top: 0.1rem;
    background-color: #323235;
    border-radius: 4px;
    width: 32%;

    .cardBtns {
      display: flex;
      gap: 0.5rem;

      .cardBtn {
        background-color: #121214;
        color: white;
        padding: 0.2rem 0.8rem;
      }
    }
  }

  .articleButton {
    font-size: 100%;
    background-color: rgb(241, 211, 250);
    border: none;
    padding: 0.2rem 0.8rem;
    border-radius: 2px;
  }

  .articleButton:hover {
    background-color: $darkPink;
  }
}

// editor

.editor {
  padding: 3rem 2rem 1rem 2rem;
  background-color: $background;
  color: white;
  width: 100%;

  .btn {
    font-size: 110%;
    background-color: rgb(241, 211, 250);
    border: none;
    padding: 0.3rem 1.1rem;
    border-radius: 2px;
  }

  .btn:hover {
    background-color: $darkPink;
  }

  .cardContainer {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .card {
    padding: 1rem;
    padding-top: 0.1rem;
    background-color: #323235;
    border-radius: 4px;
    width: 32%;

    .cardBtns {
      display: flex;
      gap: 0.5rem;

      .cardBtn {
        background-color: #121214;
        color: white;
        padding: 0.2rem 0.8rem;
      }
    }
  }
}

// others

.dashboard {
  width: 100%;
}

.buttonList {
  position: relative;
  left: 39%;
}

.video {
  padding-top: 50px;
  margin-left: 45%;
  margin-right: auto;
  width: 50%;
  // background-color: aqua;
}

.peersgrid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-column-gap: 2px;
  // grid-template-rows: 1fr 1fr 1fr;
  // width: 100%;
  place-items: center;
  margin-left: 10%;
}

//Textroom

.textroom{
  padding: 3rem 2rem 1rem 2rem;
  background-color: $background;
  color: white;
  width: 100%;

  .sdktriggerid{
    margin-left:8rem;
    margin-top:3rem;
  }

    button {
      font-size: 110%;
      background-color: rgb(241, 211, 250);
      border: none;
      padding: 0.3rem 1.1rem;
      border-radius: 2px;
    }
  
    button:hover {
      background-color: $darkPink;
    }

    .bell{
      width:3rem;
    }

    .pushCard {
      border: 0.5px solid $pinkColor;
      width: 28rem;
      padding: 0 1rem 1.5rem 1.5em;
      display:flex;
      flex-direction: column;
      align-items: center;
  
      img {
        width: 100%;
      }
  
      .pushTitle {
        font-size: 120%;
        color: $pinkColor;
        font-weight: 400;
      }
  
      button {
        background-color: $pinkColor;
        padding: 0.3rem 1.2rem;
        border: none;
        border-radius: 2px;
        font-size: 100%;
        margin:1rem;
      }
  
      button:hover {
        background-color: $darkPink;
      }

      .options{
        display:flex;
        gap:3rem;
      }
      .bell{
        padding-top: 2rem;
        width:3rem;
      }
    }
  
}