// variables

$background: #121214;
$pinkColor: #ffcece;
$cyan: rgb(187, 238, 250);

// global

.app {
  display: flex;
  height: 100vh;
}

// sidebar

.sidebar {
  padding: 0 2rem;
  background-color: black;
  color: white;

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 40%;

    p {
      margin-top: 10%;
      font-size: 110%;
    }

    p:hover {
      color: $pinkColor;
    }
  }
}

// homepage

.home {
  padding: 3rem 2rem 1rem 2rem;
  background-color: $background;
  color: white;
  width: 100%;

  h1 {
    color: $pinkColor;
  }
  
  .daoCard  {
    border: 0.5px solid $pinkColor;
    width: 25rem;
    padding: 0 1rem 1rem 1rem;

    img {
      width: 100%;
    }

    .daoName {
      font-size: 120%;
      color: $pinkColor;
      font-weight: 400;
    }

    button {
      background-color: $pinkColor;
      padding: 0.3rem 1.2rem;
      border: none;
      font-size: 100%;
    }
  }
}

// proposals

.proposals {
  padding: 3rem 2rem 1rem 2rem;
  background-color: $background;
  color: white;
  width: 100%;

    .btnDiv {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .btn {
        padding: 0.4rem 1.4rem;
        background-color: $pinkColor;
        border: none;
        font-size: 110%;
      }

      .btn:hover {
        background-color:#f8b4b4;
      }
    }

    .inputDiv {
      margin-top: 2rem;
      margin-bottom: 4rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      input {
        font-size: 110%;
        background-color:#323235;
        color: white;
        border: none;
        padding: 0.3rem 1.1rem;
      }

      input::placeholder{
        // color: rgba(57, 56, 56, 0.818);
        color: rgb(143, 143, 143);
        text-align: center;
    }

      input[type=text]:focus {
        border: 3px solid #555;
      }

      button {
        font-size: 110%;
        background-color: ghostwhite;
        border: none;
        padding: 0.3rem 1.1rem;
      }

      button:hover {
        background-color: $cyan;
      }
  }

  .card {
    padding: 1rem;
    padding-top: 0.1rem;
    background-color: #323235;
    width: 30%;

    .cardBtns {
      display: flex;
      gap: 0.5rem;

      .cardBtn {
        background-color: #121214;
        color: white;
        padding: 0.2rem 0.8rem;
      }
    }
  }
}

// others

.dashboard{
  width: 100%; 
}

.buttonList{
  position: relative;
  left:39%;
}

.video{
  padding-top:50px;
  margin-left: 45%;
  margin-right: auto;
  width:50%;
  // background-color: aqua;
}
.peersgrid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-column-gap:2px;
  // grid-template-rows: 1fr 1fr 1fr;
  // width: 100%;
  place-items: center;
  margin-left: 10%;
}